* {
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;

  font-size: 32px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #33333d;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: url(../assets/background-pattern.svg) repeat top left #fff;
  height: 100%;
  display: flex;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 60%;
  height: 60%;
  margin: auto;
}

.main img {
  display: block;
  max-height: 60%;
  width: auto;
}
h1 {
  font-family: "IBM Plex Serif", serif;
  font-size: 5vw;
  text-align: center;
  margin-bottom: 3rem;
}
p {
  text-align: center;
  margin-top: 3rem;
}
a {
  color: #33333d;
  text-decoration: none;
  border-bottom: 2px solid #03dac6;
  transition: border-color 200ms ease-in;
}
a:hover {
  border-color: #ff0166;
}
