.header__handbooks__search {
  display: flex;
  width: 89px;
  height: 89px;
  background-repeat: no-repeat;
  background-position: center;
  background: url('./illustrations/searchBlob.svg');
}

.header__handbooks__search__button {
  display: flex;
  margin: auto;
  cursor: pointer;
  font-size: 20px;
  line-height: 27px;
  align-items: center;
  gap: 0.3rem;

  transition: all 200ms ease-in;
}

.header__handbooks__search__button span {
  color: var(--color-standard__white);
  font-family: 'Graphik', sans-serif;
}

.header__handbooks__search__button:active span {
  opacity: 0.8;
}
