.container {
  background: var(--Blue-50);
  border-radius: 1rem;
  padding: 2rem;

  margin: 3rem 0;
}

.tablist {
  margin-bottom: 1rem;
}
.tablist__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.tabpanel[hidden] {
  display: none;
}
