.searchItem {
  margin: 2rem 0;
}

.searchItem h3 > a {
  text-decoration: none;
  font-size: 2rem;
}

.searchItem h3 > a > span {
  border-bottom: 2px solid;
  border-color: var(--color-standard__white);
}

:global(.ais-Hits-list) {
  list-style: none;
  padding: 0;
}
:global(.ais-Pagination-list) {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
:global(.ais-Pagination-item) {
  padding: 0.5rem;
  margin: 0;
}
:global(.ais-Pagination-item--selected) {
  font-weight: 500;
}

.refinement__pill {
  border-radius: 0.7rem;
  font-size: 0.8rem;
  padding: 0.1rem 0.5rem;
  background: var(--color-secondary2);
  color: var(--color-secondary2--text);
  margin-left: 0.2rem;
}
.refinement__label {
  display: flex;
  align-items: center;
}

:global(.ais-SearchBox-form) {
  display: flex;
  width: 100%;
  margin-right: 0;
  position: relative;
}
:global(.ais-SearchBox-input) {
  margin-top: 3.125rem;
  flex: 1;
  padding: 0.6875rem 0 0.6875rem 0;
  font-size: 2.813rem;
  border: 0;
  line-height: 59.85px;
  color: var(--color-standard__white);
  outline: none;
  background-color: var(--color-secondary1__shade3);
}

:global(.ais-SearchBox-input::placeholder) {
  color: var(--color-standard__white);
}

:global(.ais-SearchBox-input)::-webkit-search-cancel-button {
  display: none;
}

:global(.ais-SearchBox-submit) {
  visibility: hidden;
}

:global(.ais-RefinementList-list) {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0 1.5rem;
  align-items: baseline;
  margin: 0 2rem;
  padding: 0.5rem;
}
:global(.ais-RefinementList-item) {
  margin-top: 0;
}
:global(.ais-SearchBox-reset) {
  display: none;
}

:global(.ais-Highlight-highlighted) {
  background-color: var(--color-secondary3__tint3);
}

.header {
  padding-top: 3.375rem;
  background-image: none;
}

.closeSearchContainer {
  display: flex;
  justify-content: flex-end;
}

.closeSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 89px;
  background-repeat: no-repeat;
  background-position: center;
  background: url('../../public/assets/illustrations/closeSearchBlob.svg');
}

.closeSearch a {
  text-decoration: none;
  font-family: 'Graphik', sans-serif;
  font-weight: 500;
}

.closeSearchButton {
  margin: auto;
  color: var(--color-standard__white);
  cursor: pointer;
  font-size: 20px;
  line-height: 27px;
  gap: 0.3rem;
}

.closeSearchButton a {
  font-family: 'Graphik', sans-serif;
}

.closeSearchIcon {
  margin-left: 0.3rem;
}

.searchDivider {
  border-bottom: 1px solid;
  border-color: var(--color-standard__white);
}

.recentSearchesContainer {
  margin-top: 1.875rem;
}

.recentSearchChipsContainer {
  display: flex;
  flex-wrap: wrap;
}

.recentSearchChip {
  border-radius: 3.125rem;
  padding: 0.25rem 1.25rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  color: var(--color-standard__black);
  border: 0;
}

.subHeader {
  font-size: 1.25rem;
}

/* Chat compontent */
.chatResult {
  margin: 2rem 0;
}
.chatResult header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-radius: 3.125rem;
  background: var(--color-secondary1__shade2);
  color: var(--color-secondary1__shade2--text);
  gap: 0.5rem;
}
.chatResult h3 {
  line-height: 1;
  flex: 1;
  margin: 0;
  padding: 0;
}
.chatResult__result {
  margin: 0 2rem;
  padding: 1rem 2rem;
  background: var(--color-secondary1__shade2);
  color: var(--color-secondary1__shade2--text);
  border-bottom-left-radius: 1.5625rem;
  border-bottom-right-radius: 1.5625rem;
}
.beta__pill {
  border-radius: 0.7rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0.1rem 0.3rem;
  background: var(--color-secondary3);
  color: var(--color-secondary3--text);
}
