.searchform {
  display: flex;
  width: 100%;
  padding: 1rem;
  position: relative;
}
.searchform input {
  flex: 1;
  padding: 0.6875rem 1.5625rem;
  font-size: 16px;
  border: 0;
  border-radius: 6.25rem;
}

.searchform button {
  border: none;
  text-align: center;
  padding: 0.6875rem 1.5625rem;
  font-weight: 500;
  background: url('./search.svg') no-repeat center transparent;
  text-indent: -9999px;
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.container {
  background: var(--color-secondary4__tint2);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.05),
    0px 26.6462px 29.2013px rgba(0, 0, 0, 0.0344991),
    0px 12.9362px 14.1767px rgba(0, 0, 0, 0.0278145),
    0px 6.34158px 6.94968px rgba(0, 0, 0, 0.0221855),
    0px 2.50747px 2.74791px rgba(0, 0, 0, 0.0155009);

  margin: 3rem 0;

  position: relative;
  z-index: -1;
}
