.searchform {
  display: flex;
  width: 100%;
  padding: 1rem;
  position: relative;
}
.searchform input {
  flex: 1;
  padding: 0.6875rem 1.5625rem;
  font-size: 16px;
  border: 0;
  border-radius: 6.25rem;
  border: 2px solid rgba(0, 0, 0, 0);
}

.searchform input:hover {
  border: 2px solid rgba(0, 0, 0, 1);
}

.searchform button {
  border: none;
  text-align: center;
  padding: 0.6875rem 1.5625rem;
  font-weight: 500;
  background: url('./search.svg') no-repeat center transparent;
  text-indent: -9999px;
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.container {
  background: var(--Blue-50);
  border-radius: 96px 96px 6px 6px;
  padding: 2rem;
  padding-top: 0rem;

  margin: 3rem 0;

  position: relative;
  z-index: 2;
}

h2 {
  padding-top: 0;
  margin-top: 1rem;
}

.face_decoration {
  padding-top: 2rem;
  text-align: right;
}
