.processSelector {
  display: flex;
  gap: 2rem;
  margin-block: 1rem;
}

.processSelectorButton {
  padding: 0.25rem 0.5rem;
  background-color: var(--color-secondary4);
  border-radius: 0.5rem;
}

.processSelectorButtonActive {
  background-color: var(--color-primary__tint3);
}

.processSelectorButton a {
  text-decoration: none;
}

@media (max-width: 450px) {
  .processSelector {
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}
