.osloEmissionTable {
  margin: 1rem 0;
  border-collapse: collapse;
  width: 100%;

  th {
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
  }

  >th,
  td {
    border: 1px solid #000;
    text-align: left;
  }
}
