.main {
  position: relative;
  overflow-x: hidden;
  width: 100%;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  max-width: 50rem;
  min-height: 100vh;
  width: 100%;
  min-height: -webkit-fill-available;
  margin: 3.5rem auto 0;
  padding: 1rem;
  padding-bottom: 5rem;
  flex-grow: 1;
  box-sizing: border-box;
}

.header,
.header__dark {
  position: fixed;
  z-index: 1;
  right: 0;
  z-index: 150;
  width: 100vw;
  height: 20px;
}

.header__logo {
  display: inline-block;
}
.header__logo img {
  display: block;
  height: 0.9rem;
  margin: 1rem 0;
}

.header__handbooks,
.header__handbooks__dark {
  visibility: hidden;
  display: flex;
  align-items: center;
  list-style: none;

  flex-wrap: wrap;
  justify-content: space-around;

  position: relative;
  z-index: 0;

  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 25vw;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;

  font-weight: 500;
}

.header__handbooks__dark {
  background-color: var(--color-secondary1__shade2);
}

.header__handbooks {
  background-color: var(--color-secondary4__tint2);
}

.header__handbooks__back {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.header__handbooks__back a {
  color: var(--color-standard__white);
  text-decoration: none;
  font-weight: 500;
  line-height: 30px;
}
.header__handbooks__search {
  display: flex;
  width: 89px;
  height: 89px;
  background-repeat: no-repeat;
  background-position: center;
  background: url('./searchBlob.svg');
}

.header__handbooks__search__button {
  display: flex;
  margin: auto;
  cursor: pointer;
  font-size: 20px;
  line-height: 27px;
  align-items: center;
  gap: 0.3rem;
}

.header__handbooks__search__button a {
  color: var(--color-standard__white);
  font-family: 'Graphik', sans-serif;
}

.header__handbooks__link {
  color: var(--color-secondary3__shade1);
}
.header__handbooks__link__active {
  color: var(--color-primary__tint1);
}
.header__handbooks__link__active a {
  border-bottom: 2px solid var(--color-standard__black);
}
.header__handbooks__link__dark {
  display: flex;
  align-items: center;
}
.header__handbooks__link__dark a {
  color: var(--color-standard__white);
}
.header__handbooks__link__dark__active {
  display: flex;
  align-items: center;
}
.header__handbooks__link__dark__active a {
  color: var(--color-standard__white);
  border-bottom: solid 2px var(--color-standard__white);
}
.header__handbooks li,
.header__handbooks__dark li {
  margin: 0;
}
.header__handbooks li:not(:first-of-type),
.header__handbooks__dark li:not(:first-of-type) {
  margin-left: 1.5rem;
}

.header__handbooks a,
.header__handbooks__dark a {
  text-decoration: none;
}
.header__handbooks a:hover,
.header__handbooks__dark a:hover {
  cursor: pointer;
}
.header__handbooks__category {
  composes: header__handbooks;

  margin-top: 2rem;
}

.nav__handbooks__location a,
.nav__handbooks__location__active a {
  color: var(--color-standard__white);
}

.burgerButtonContainer {
  position: fixed;
  cursor: pointer;

  top: 0.5rem;
  left: 1rem;
  z-index: 200;
  margin-top: 1rem;
}

.header__handbooks__submenu {
  padding-left: 1.25rem;
}

.backToVariant a {
  color: var(--color-standard__white);
  text-decoration: none;
}

.nav {
  position: fixed;
  height: 100vh;
  height: -webkit-fill-available;

  left: 0;
  top: 0rem;

  z-index: 50;

  transform: translateX(-100%);
  transition: transform 450ms ease-in-out;
  background-color: var(--color-secondary1__shade2);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .nav {
    width: 100vw;
  }
}

.nav__background {
  position: absolute;
  left: -100%;
  z-index: 50;

  overflow: hidden;
  height: 100%;
  background-color: var(--color-secondary1__shade2);
  width: 100%;
  display: flex;
  align-items: center;
}

.nav__background img {
  width: 95vw;
}

.nav__background__active {
  position: absolute;
  z-index: 50;
  left: 0rem;
}

.nav__active {
  transform: translateX(0);
  transition: all 300ms cubic-bezier(0.925, 0.045, 0.785, 0.925);
  transition-timing-function: cubic-bezier(0.925, 0.045, 0.785, 0.925);
  max-width: none;
  z-index: 100;
}

.nav__inner {
  position: sticky;
  top: 0;
  overflow: auto;
  padding: 2rem 2rem 6rem;
  font-size: 1.2rem;
  width: 100vw;
}

.nav__inner p {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--color-primary);
}
.nav__inner ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__inner__link {
  flex: 1;
  width: 20rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: var(--color-secondary3__shade1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav__inner__link a {
  color: var(--color-standard__white);
  font-size: 1.75rem;
}

.nav__inner__link__active {
  padding-bottom: 1rem;
  padding-top: 2rem;
  color: var(--color-primary__tint1);
  flex: 1;
  width: 20rem;
  align-items: flex-start;
  font-size: 1.75rem;
}
.nav__inner__link__active a {
  border-bottom: 2px solid var(--color-primary__tint2);
  color: var(--color-standard__white);
}

.nav__inner__link__child {
  display: none;
  margin-left: 1rem;
}
.nav__inner__link__children a {
  color: var(--color-standard__white);
  font-size: 1.5rem;
}

.nav__inner__link__child__active {
  display: block;
}

.nav__inner__link__child .nav__inner ul li:hover {
  color: var(--color-primary);
}

.nav__inner ul a {
  text-decoration: none;
}

.nav__inner ul a:hover {
  border-bottom: 2px solid var(--color-primary__tint2);
  cursor: pointer;
}

.footer {
  background: url('./footer.svg') no-repeat center top;
  margin-top: auto;
}
.footer__inner {
  position: relative;
  z-index: 2;
  max-width: 45rem;
  margin: 0 auto;
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer__social {
  list-style: none;
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
.footer__social li {
  margin: 0;
}
.footer__social a {
  margin: 0;
  display: block;
  padding: 1rem 0.3rem;
}
.footer__social img {
  display: block;
}

.hamburger,
.hamburger__dark {
  width: 2rem;
  height: 1.7rem;
  position: relative;
  margin: 0 auto;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.hamburger span,
.hamburger__dark span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--color-secondary4__tint2);
  border-radius: 9px;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  --spacings: 0.5rem;
}

.hamburger span {
  border: 2px solid var(--color-secondary1__shade2);
}

.hamburger__dark span {
  border: 2px solid var(--color-secondary4__tint2);
}

.hamburger__open span {
  border: 2px solid var(--color-secondary4__tint2);
}

.hamburger span:nth-child(1),
.hamburger__dark span:nth-child(1) {
  top: calc(var(--spacings) * 0);
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3),
.hamburger__dark span:nth-child(2),
.hamburger__dark span:nth-child(3) {
  top: calc(var(--spacings) * 1);
}

.hamburger span:nth-child(4),
.hamburger__dark span:nth-child(4) {
  top: calc(var(--spacings) * 2);
}

.hamburger__open span:nth-child(1) {
  top: calc(var(--spacings) * 1);
  width: 0%;
  left: 50%;
}

.hamburger__open span:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger__open span:nth-child(3) {
  transform: rotate(-45deg);
}

.hamburger__open span:nth-child(4) {
  top: calc(var(--spacings) * 1);
  width: 0%;
  left: 50%;
}

@media (min-width: 1200px) {
  .nav {
    transform: translateX(0);
  }
  .hamburger {
    display: none;
  }
  .nav__handbooks {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    color: var(--color-standard__white);
    width: 100%;
  }
  .nav__handbooks li {
    padding-left: 2rem;
  }
  .nav__handbooks__location,
  .nav__handbooks__location__active {
    width: 100%;
  }
  .nav__handbooks__location a,
  .nav__handbooks__location__active a {
    color: var(--color-standard__white);
  }
  .nav__inner {
    width: 20vw;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
  }
  .nav__handbooks__container {
    overflow: auto;
    height: 100%;
  }
  .nav__handbooks__container::-webkit-scrollbar {
    display: none;
  }
  .header,
  .header__dark {
    z-index: 3;
    visibility: visible;
  }
  .header__handbooks,
  .header__handbooks__dark {
    display: flex;
    margin-bottom: 2rem;
    visibility: visible;
  }
  .header__handbooks__back {
    padding-top: 0rem;
    padding-left: 1.5rem;
    justify-content: flex-start;
  }
  .nav__background {
    left: -2rem;
    top: -1px;
    background-color: transparent;
    /* Needed to click the nav bar buttons on big screens*/
    width: 30%;
  }

  .nav__background img {
    width: 29vw;
  }
  .nav__inner__container {
    width: 100%;
  }

  .nav__inner__link a {
    font-size: 0.813rem;
    color: var(--color-secondary1__tint4);
  }
  .nav__inner__link__children a {
    color: var(--color-standard__white);
    font-size: 1.125rem;
  }
  .nav__inner__link {
    width: 11rem;
    padding-left: 2rem;
  }
  .nav__inner__link__active {
    padding-bottom: 1rem;
    color: var(--color-primary__tint1);
    background-color: transparent;
    font-size: 1.125rem;
    width: 11rem;
  }

  .content {
    padding-left: 12rem;
  }
}

/* navbar for small screens */
.nav__hamburger_subheader a {
  color: var(--color-secondary1__tint4);
  border: 0;
  font-size: 1rem;
}

.nav__hamburger_subheader__active a {
  border-bottom: solid 2px var(--color-primary__tint2);
}
