.main {
  position: relative;
  overflow-x: hidden;
  width: 100%;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  max-width: 45rem;
  min-height: 100vh;
  width: 100%;
  min-height: -webkit-fill-available;
  margin: 3rem auto 0;
  padding: 1rem;
  padding-bottom: 5rem;
  flex-grow: 1;
  box-sizing: border-box;
}

.header,
.header__dark {
  position: fixed;
  z-index: 1;
  right: 0;
  z-index: 150;
  width: 100vw;
}

.header__logo {
  display: inline-block;
}
.header__logo img {
  display: block;
  height: 0.9rem;
  margin: 1rem 0;
}

.header__handbooks,
.header__handbooks__dark {
  display: none;
  list-style: none;

  flex-wrap: wrap;
  justify-content: space-around;

  position: relative;
  z-index: 0;

  margin: 0 auto;
  padding-block: 2.125rem;
  padding-right: 2rem;
  padding-left: 20vw;

  font-weight: 500;
}

.header__handbooks__dark {
  background-color: var(--color-secondary1__shade2);
}

.header__handbooks {
  background-color: var(--color-secondary4__tint2);
}

.header__handbooks__back {
  display: flex;
}
.header__handbooks__back a {
  color: var(--color-standard__white);
}
.header__handbooks__search {
  display: flex;
  gap: 0.25rem;

  color: var(--color-standard__white);
}
.header__handbooks__search p:hover {
  color: var(--color-standard__white);
}

.header__handbooks__search img:nth-child(2) {
  width: 1.5rem;
}

.header__handbooks__search img:nth-last-child(1) {
  position: absolute;
  z-index: -1;
  bottom: 1rem;
}
.header__handbooks__link {
  color: var(--color-secondary3__shade1);
}
.header__handbooks__link__active {
  color: var(--color-primary__tint1);
}
.header__handbooks__link__active a {
  border-bottom: 2px solid var(--color-standard__black);
}
.header__handbooks__link__dark a {
  color: var(--color-standard__white);
}
.header__handbooks__link__dark__active {
  border-bottom: 2px solid var(--color-standard__white);
}
.header__handbooks__link__dark__active a {
  color: var(--color-standard__white);
}
.header__handbooks li,
.header__handbooks__dark li {
  margin: 0;
}
.header__handbooks li:not(:first-of-type),
.header__handbooks__dark li:not(:first-of-type) {
  margin-left: 1.5rem;
}

.header__handbooks a,
.header__handbooks__dark a {
  text-decoration: none;
}
.header__handbooks a:hover,
.header__handbooks__dark a:hover {
  cursor: pointer;
}
.header__handbooks__category {
  composes: header__handbooks;

  margin-top: 2rem;
}

.burgerButtonContainer {
  position: fixed;
  cursor: pointer;

  top: 0.5rem;
  left: 1rem;
  z-index: 200;
}

.backToVariant a {
  color: var(--color-standard__white);
  text-decoration: none;
}

.nav {
  width: 20rem;

  position: fixed;

  height: 100vh;
  height: -webkit-fill-available;

  left: 0;
  top: 0rem;

  z-index: 50;

  transform: translateX(-100%);
  transition: transform 450ms ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .nav {
    width: 100%;
  }
}

.nav__background {
  position: absolute;
  left: -100%;
  z-index: 50;

  overflow: hidden;
  height: 100%;
}

.nav__background img {
  width: 100vw;
}

.nav__background__active {
  position: absolute;
  z-index: 50;
  left: -1rem;
}

.nav li {
  margin: 0;
}

.nav__active {
  transform: translateX(0);
  transition: all 300ms cubic-bezier(0.925, 0.045, 0.785, 0.925);
  transition-timing-function: cubic-bezier(0.925, 0.045, 0.785, 0.925);
  max-width: none;
  z-index: 100;
}

.nav__inner {
  position: sticky;
  top: 0;
  overflow: auto;
  padding: 2rem 2rem 6rem;
  font-size: 1.2rem;
}

.nav__inner p {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--color-primary);
}
.nav__inner ul {
  list-style-type: none;
  padding-left: 0;
}

.nav__inner__link {
  padding-bottom: 1rem;
  color: var(--color-secondary3__shade1);
  max-width: 11rem;
}

.nav__inner__link a {
  color: var(--color-standard__white);
  font-size: 1.125rem;
}

.nav__inner__link__active {
  padding-bottom: 1rem;
  color: var(--color-primary__tint1);
}
.nav__inner__link__active a {
  border-bottom: 2px solid var(--color-primary__tint2);
  color: var(--color-standard__white);
}

.nav__inner__link__child {
  display: none;
}
.nav__inner__link__children a {
  color: var(--color-standard__white);
  font-size: 0.825rem;
  margin-left: 1rem;
}

.nav__inner__link__child__active {
  display: block;
}

.nav__inner__link__child .nav__inner ul li:hover {
  color: var(--color-primary);
}

.nav__inner ul a {
  text-decoration: none;
}

.nav__inner ul a:hover {
  border-bottom: 2px solid var(--color-primary__tint2);
  cursor: pointer;
}

.footer {
  background: url('./footer.svg') no-repeat center top;
  margin-top: auto;
}
.footer__inner {
  position: relative;
  z-index: 2;
  max-width: 45rem;
  margin: 0 auto;
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer__social {
  list-style: none;
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
.footer__social li {
  margin: 0;
}
.footer__social a {
  margin: 0;
  display: block;
  padding: 1rem 0.3rem;
}
.footer__social img {
  display: block;
}

.hamburger {
  width: 2rem;
  height: 1.7rem;
  position: relative;
  margin: 0 auto;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--color-secondary4__tint2);
  border-radius: 9px;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  --spacings: 0.5rem;
  border: 0.1px solid var(--color-secondary1__shade2);
}
.hamburger__open span {
  background: var(--color-secondary1__tint3);
}

.hamburger span:nth-child(1) {
  top: calc(var(--spacings) * 0);
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
  top: calc(var(--spacings) * 1);
}

.hamburger span:nth-child(4) {
  top: calc(var(--spacings) * 2);
}

.hamburger__open span:nth-child(1) {
  top: calc(var(--spacings) * 1);
  width: 0%;
  left: 50%;
}

.hamburger__open span:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger__open span:nth-child(3) {
  transform: rotate(-45deg);
}

.hamburger__open span:nth-child(4) {
  top: calc(var(--spacings) * 1);
  width: 0%;
  left: 50%;
}

@media (min-width: 1200px) {
  .nav {
    transform: translateX(0);
  }
  .main__sidebar {
    padding-left: 20rem;
  }
  .hamburger {
    display: none;
  }
  .nav__handbooks {
    display: none;
  }
  .nav__inner {
    width: 20vw;
  }
  .header,
  .header__dark {
    z-index: 3;
  }
  .header__handbooks,
  .header__handbooks__dark {
    padding-top: 2rem;
    display: flex;
  }
  .nav__background {
    left: -2rem;
    top: -1px;
  }

  .nav__background img {
    width: 25vw;
  }
}
