name: CI
on:
  push:
    branches:
      - main
    paths:
      - './pages/**/*.{md,mdx}'
jobs:
  build:
    name: Run search index
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'yarn'
      - run: yarn install
      - run: yarn search-index
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
          ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          PINECONE_API_ENVIRONMENT: ${{ secrets.PINECONE_API_ENVIRONMENT }}
          PINECONE_API_KEY: ${{ secrets.PINECONE_API_KEY }}
